[Unit]
Description=Start forms-app server

[Service]
Restart=always
User=vagrant
Group=vagrant
WorkingDirectory=/vagrant/forms-app/
ExecStart=node src/server.js
Type=simple

[Install]
WantedBy=vagrant.mount